#paginacao a, #paginacao strong 
{
	background: #e3e3e3;
	padding: 4px 7px;
	text-decoration: none;
	border: 1px solid #cac9c9;
	color: #292929;
	font-size: 13px;
}

#paginacao strong, #paginacao a:hover 
{
	font-weight: normal;
	background: #cac9c9;
}		
